// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #ffd15c;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$beige: #F9eede;
$rose-light: #E8A6A9;
$rose: #E26471;
$cow-grey: #666565;
