<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <div class="card-footer">
          <%= image_tag "person-sign-logo-grey-colors-260nw-222523369.jpg", class: "circular-image", alt: "Belle To", width: 100 %>
          <div class="caption">
            <a href="https://au.linkedin.com/in/belle-to-100036127" class="footer-linkedin"><i class="fab fa-linkedin-in"></i>Belle To</a>
            <p>Marketing</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="card-footer">
          <%= image_tag "person-sign-logo-grey-colors-260nw-222523369.jpg", class: "circular-image", alt: "Krystian Ostrowski", width: 100 %>
            <div class="caption">
            <a href="https://au.linkedin.com/in/krystian-ostrowski-90212722" class="footer-linkedin"><i class="fab fa-linkedin-in"></i>Krystian Ostrowski</a>
            <p>Strategy</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="card-footer">
          <%= image_tag "person-sign-logo-grey-colors-260nw-222523369.jpg", class: "circular-image", alt: "Jody Vandenschrick", width: 100 %>
          <div class="caption">
            <a href="https://au.linkedin.com/in/jodyvandenschrick" class="footer-linkedin"><i class="fab fa-linkedin-in"></i>Jody Vandenschrick</a>
            <p>Technical</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="card-footer">
          <%= image_tag "person-sign-logo-grey-colors-260nw-222523369.jpg", class: "circular-image", alt: "Romain Malengrez", width: 100 %>
          <div class="caption">
            <a href="https://au.linkedin.com/in/romain-malengrez/" class="footer-linkedin"><i class="fab fa-linkedin-in"></i>Romain Malengrez</a>
            <p>Design</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
