<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h2>The True Cost of Owning Wheels</h2>
  </div>
</div>

<div class="banner-more-info text-center">
  <div class="container">
    <div class="row">
        <h2>The problem with owning a car</h2>

      <div class="col-sm-6 col-xs-12">
        <div class="card-banner">
          <p><i class="fas fa-car fa-3x fa-pull-left fa-border"> </i> Buying a car is expensive, running a car is expensive. But have you ever thought how much it truly costs to own your wheels? </p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="card-banner">
          <p><i class="fas fa-exclamation-triangle fa-3x fa-pull-left fa-border"></i>Taking into consideration all of the potential costs, from depreciation to fuel consumption and registration.</p>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <div class="card-banner">
          <p><i class="fas fa-search fa-3x fa-pull-left fa-border"></i>Research shows that 71% of people research products online prior to purchase, the same goes for cars.</p>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <div class="card-banner">
          <p><i class="fas fa-question fa-3x fa-pull-left fa-border"></i>Where do you get the information to know the true cost of owning your wheels and then compare it to something different? </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-truecow">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-banner-truecow">
        <h2>TrueCow solution</h2>
        <p><i class="fas fa-align-left fa-3x fa-pull-left fa-border"></i> <i class="fas fa-plus fa-2x fa-pull-left fa-border"></i> <i class="fas fa-car fa-3x fa-pull-left fa-border"></i> <i class="fas fa-equals fa-2x fa-pull-left fa-border"></i> <%= image_tag "logo.png", alt: "TrueCow", width: 70 %> </p>
        <p>It would be awesome to have all of this information easily available on a car selling website.</p>

        <p>Introducing TrueCOW - an API tool which provides the consumer with valuable information and gives businesses a new market advantage by combining all relevant factors. TrueCOW has a verified method of data connecting, analysing and presenting the total cost of ownership for vehicles.</p>
      </div>
    </div>
  </div>
</div>
<div class="banner-partner">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-banner-partner">
        <p><i class="far fa-handshake fa-3x fa-border"></i>We are looking for exclusive pilot program partners, get in touch today!</p>
      </div>
    </div>
  </div>
</div>
<div class="banner-survey text-center">
  <div class="row">
    <h3>Fill out the survey to help us with this idea please.</h3>
    <div class="col-sm-6 col-xs-12">
        <div class="card-banner-survey text-center">
          <%= link_to "I have a car website", "https://goo.gl/forms/oHT1mwV4ufKrxr0y2", class: "btn btn-lg btn-warning"  %>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="card-banner-survey text-center">
        <%= link_to "I own a car", "https://goo.gl/forms/ZE181hBR9mICRbUw1", class: "btn btn-lg btn-primary"  %>
      </div>
    </div>
  </div>
</div>
