<%= content_for(:navbar_class, "navbar-home") %>


<div class="banner">
  <div class="banner-content text-center">
    <h1>TrueCOW</h1>
    <p>want to know more about TrueCOW?</p>
    <%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>
