<%= content_for(:navbar_class, "navbar-home") %>


<div class="banner">
  <div class="banner-content text-center">
    <p>The True Cost of Owning Wheels</p>
    <%= link_to "Start now", "https://jody90.typeform.com/to/yFvLgI", class: "btn btn-lg btn-primary"  %>
  </div>
</div>

<div class="banner-more-info text-center">
  <h2>Problem you could have when you buy a car</h2>
    <p>The initial purchase price of a car is only one part of the cost. A key question is whether you can afford the drip, drip of maintenance and repairs for as long as you own it. <br>

    <p>Research shows ownership costs are relatively low during year 1 to year 3 due to free maintenance/warranty eg. BMW, Mini but jacks up once the warranty and free maintenance periods are over. <br>

    <p>There are several out of pocket costs eg. insurance, fuel, repairs, financing, maintenance over the course of ownership (3-5 years typically) <br>

    <p>Even if 2 vehicles priced the same, it doesn’t mean they will cost the same over time. Knowing 3 year cost to own ahead of time can help you save money. <br>

    Social and environmental benefits of owning a new car will decrease the average age of the cars on the road
  </p>

  <h2>TrueCow solution</h2>
  <p>We designed an algorithm that evaluates the true costs of ownership of your vehicle. This will help car buyers in making decision between there old car and a new car of their choice.
</p>

</div>
