<%= content_for(:navbar_class, "navbar-home") %>


<div class="banner">
  <div class="banner-content text-center">
    <p>The True Cost of Owning Wheels</p>
    <%= link_to "Start now", "https://jody90.typeform.com/to/yFvLgI", class: "btn btn-lg btn-primary"  %>
  </div>
</div>

<div class="banner-more-info text-center">
  <div class="container">
    <div class="row">
        <h2>Problem you could have when you buy a car</h2>

      <div class="col-sm-6 col-xs-12">
          <p><i class="far fa-clock fa-5x fa-pull-left fa-border"> </i> The initial purchase price of a car is only one part of the cost. A key question is whether you can afford the drip, drip of maintenance and repairs for as long as you own it. </p>
      </div>
      <div class="col-sm-6 col-xs-12">
        <p><i class="fas fa-dollar-sign fa-5x fa-pull-left fa-border"></i> Research shows ownership costs are relatively low during year 1 to year 3 due to free maintenance/warranty eg. BMW, Mini but jacks up once the warranty and free maintenance periods are over.</p>
      </div>

      <div class="col-sm-6 col-xs-12">
        <p><i class="fas fa-chart-pie fa-5x fa-pull-left fa-border"></i> There are several out of pocket costs eg. insurance, fuel, repairs, financing, maintenance over the course of ownership (3-5 years typically) </p>
      </div>

      <div class="col-sm-6 col-xs-12">
        <p><i class="fas fa-project-diagram fa-5x fa-pull-left fa-border"></i> ven if 2 vehicles priced the same, it doesn’t mean they will cost the same over time. Knowing 3 year cost to own ahead of time can help you save money.

          Social and environmental benefits of owning a new car will decrease the average age of the cars on the roa
        </p>
      </div>

    </div>
  </div>
  <h2>TrueCow solution</h2>
  <p>We designed an algorithm that evaluates the true costs of ownership of your vehicle. This will help car buyers in making decision between there old car and a new car of their choice.</p>
</div>
