.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0,0,0,0.3)), url("http://res.cloudinary.com/dqsfxxmi7/image/upload/fl_progressive/action-adult-blur-620335_old_fq7k6s.jpg");
  background-size: cover;
  background-position: center;
  /*background:linear-gradient(rgba(212, 225, 237, 1), rgba(255, 255, 255, 1));*/
  h1 {
    color: #666565;
    font-weight: bold;
    font-size: 45px;
  }
  h2 {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
  }
}

/* description */
.banner-more-info{
  padding: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.banner-more-info p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;

}

.card-banner-survey{
  padding-top: 90px;
  padding-bottom: 90px;
}
.banner-truecow{
  background-color:  #bfbfbf;
  color: white;
  text-align: center;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  p{ display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;}
}

.banner-partner{
  text-align: center;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.banner-survey{
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0,0,0,0.3)), url("http://res.cloudinary.com/dqsfxxmi7/image/upload/fl_progressive/van-vw-travel-trip-594384_aah1r7.jpg");
  color: white;
    background-position: center;

}
