.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0,0,0,0.3)), image-url("Image-driving.jpg");
  background-size: cover;
  background-position: center;
  /*background:linear-gradient(rgba(212, 225, 237, 1), rgba(255, 255, 255, 1));*/
  h1 {
    color: #666565;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
  }
}

/* description */
.banner-more-info p {
  height: 100hv;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;

}
