.footer{
  padding: 50px;
  background: black;
  color: white;
  margin: 0;
  text-align: text-center;
  vertical-align: center;
}

.card-footer{
  text-align: center;
  margin: 0 auto;
}

.footer-linkedin{
  color: white;
  text-decoration: none;
}
